body{
	background-image: url(assets/images/spot4/Background.png);
	background-size: 1910px;
	margin:20px;
	border:2px dashed black;
	padding:20px;
	font-family:cursive,sans-serif;
	font-size:20px
}
b{
	color:#191970;
}
h1{
	color:#191970;
	font-family: Arial;
	margin-top: 30px;
	font-size: 32px
}
h2,h3,h4{
	color:#00008B;
	font-family: Arial;
	font-size: 25px
}
#Tianchi{
	color:#6A5ACD;
	font-family: cursive;
	font-size: 20px;
	padding-left: 50px;
	line-height: 2;
}
p{
	font-family: cursive;
	font-size: 20px;
	line-height: 2;
}
.pic1{
	border: 5px solid: #070707;
	width: 700px;
	height: 400px;
}
.pic2{
	border: 5px solid: #070707;
	width: 700px;
	height: 400px;
}
.pic3{
	border: 5px solid: #070707;
	width: 700px;
	height: 400px;
}
.pic4{
	border: 5px solid: #070707;
	width: 700px;
	height: 400px;
}
.pic5{
	border: 5px solid: #070707;
	width: 700px;
	height: 400px;
}
.frame1{
	color: #000080;
}
.frame2{
	color: #0000CD;
}
.frame3{
	color: #4169E1;
}
.frame4{
	color: #4682B4;
}
.frame5{
	color: #6495ED;
}
.area1{
	color: #000080;
}
.area2{
	color: #0000CD;
}
.area3{
	color: #4169E1;
}
.area4{
	color: #4682B4;
}
.area5{
	color: #6495ED;
}
.area6{
	color: #1E90FF;
}
.area7{
	color: #00BFFF;
}
.area8{
	color: #87CEFA;
}
.famous1{
	color: #0000CD;
}
.famous2{
	color: #4682B4;
}
.famous3{
	color: #6495ED;
}