body{
	background-image: url(assets/images/spot2/background.png);
	background-size: 3700px;
	font-family:cursive;
	border:2px dashed black;
	margin:20px;
	padding:20px;
}


hr{
	border-style: ridge;
	border-width: 2px;
	border-color: grey;
}

body{
	font-size: 110%;
	font-weight: bold;
	padding-left:80px;
	padding-right:80px;
	padding-bottom:80px;
}

ul:hover{
	/*The text tgurns gold when the mouse hovers over it:*/
	color: #FFFF00;
	/*The text turns bold when the mouse hovers over it:*/
	font-weight: bold;
}

h1{
	color: #696969;
	font-family: Arial;
}

h2{
	font-family:cursive;
}

h3{
	font-family:cursive;
}
p{
	color: #000000;
	font-size: 110%;
}

ol{
    color: #000080;
}

.first{
	color: #4B0082;
	font-size: 110%;
}

.second{
	font-size: 110%;
	color: #8B0000;
}

.third{
	font-size: 110%;
	color:#000000;
}

.fouth{
	font-size: 110%;
	color:#A0522D;
}

img.pic1{
	border: 5px solid #87CEFA;
	padding: 5px;
	width: 600px;
	height: 400px;
}
img.pic2{
	border: 5px solid #87CEFA;
	padding: 5px;
	width: 400px;
	height: 500px;
}
img.pic3{
	border: 5px solid #87CEFA;
	padding: 5px;
	width: 600px; 
	height: 400px;
}

h2:hover{
	/*The text tgurns blue when the mouse hovers over it:*/
	color: #1E90FF;
	/*The text turns bold when the mouse hovers over it:*/
	font-weight: bold;
}

h3:hover{
	/*The text tgurns blue when the mouse hovers over it:*/
	color: #1E90FF;
	/*The text turns bold when the mouse hovers over it:*/
	font-weight: bold;
}

.type1{
    color: #D2691E;
}
.type2{
	color: #A52A2A;
}
.type3{
	color: #800000;
}
.type4{
    color: #D2691E;
}
.type5{
	color: #A52A2A;
}
.type6{
	color: #800000;
}
.type7{
    color: #D2691E;
}
.type8{
	color: #A52A2A;
}
.type9{
	color: #800000;
}
.type10{
    color: #D2691E;
}
.type11{
	color: #A52A2A;
}
.type12{
	color: #800000;
}